<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         
         <title>
            TITLE
            
         </title>
   </head>
   <body>
      <h1>
         TITLE
         
      </h1>
      <ul>
         <li><a href="#iso-identification-info">Identification Information</a></li>
         <li><a href="#iso-spatial-reference-info">Spatial Reference Information</a></li>
         <li><a href="#iso-data-quality-info">Data Quality Information</a></li>
         <li><a href="#iso-distribution-info">Distribution Information</a></li>
         <li><a href="#iso-spatial-representation-info">Spatial Representation Information</a></li>
         <li><a href="#iso-metadata-reference-info">Metadata Reference Information</a></li>
      </ul>
      <div id="iso-identification-info">
         <dl>
            <dt>Identification Information</dt>
            <dd>
               <dl>
                  <dt>Citation</dt>
                  <dd>
                     <dl>
                        <dt>Title</dt>
                        <dd>
                           TITLE
                           
                        </dd>
                        <dt>Publisher</dt>
                        <dd>
                           PUBLISHER
                           
                        </dd>
                        <dt>Publication Date</dt>
                        <dd>
                           2010-12-31
                           
                        </dd>
                        <dt>Edition</dt>
                        <dd></dd>
                        <dt>Identifier</dt>
                        <dd>
                           IDENTIFIER
                           
                        </dd>
                        <dt>Geospatial Data Presentation Form</dt>
                        <dd>mapDigital</dd>
                     </dl>
                  </dd>
                  <dt>Abstract</dt>
                  <dd>
                     ABSTRACT
                     
                  </dd>
                  <dt>Temporal Extent</dt>
                  <dd>
                     <dl>
                        <dt>Currentness Reference</dt>
                        <dd>
                           ground condition
                           
                        </dd>
                        <dt>Time Instant</dt>
                        <dd>2010-01-01T00:00:00</dd>
                     </dl>
                  </dd>
                  <dt>Bounding Box</dt>
                  <dd>
                     <dl>
                        <dt>West</dt>
                        <dd>
                           -180.000000
                           
                        </dd>
                        <dt>East</dt>
                        <dd>
                           180.000000
                           
                        </dd>
                        <dt>North</dt>
                        <dd>
                           90.000000
                           
                        </dd>
                        <dt>South</dt>
                        <dd>
                           -90.000000
                           
                        </dd>
                     </dl>
                  </dd>
                  <dt>ISO Topic Category</dt>
                  <dd>boundaries</dd>
                  <dt>Place Keyword</dt>
                  <dd>
                     PLACE
                     
                     <dl>
                        <dt>Place Keyword Thesaurus</dt>
                        <dd>
                           geonames
                           
                        </dd>
                     </dl>
                  </dd>
                  <dt>Theme Keyword</dt>
                  <dd>
                     THEME
                     
                     <dl>
                        <dt>Theme Keyword Thesaurus</dt>
                        <dd>
                           lcsh
                           
                        </dd>
                     </dl>
                  </dd>
                  <dt>Legal Constraints</dt>
                  <dd>
                     <dl>
                        <dt>Access Restrictions</dt>
                        <dd>restricted</dd>
                        <dt>Use Restrictions</dt>
                        <dd>restricted</dd>
                     </dl>
                  </dd>
                  <dt>Collection</dt>
                  <dd>
                     <dl>
                        <dt>Collection Title</dt>
                        <dd>
                           COLLECTION_TITLE
                           
                        </dd>
                        <dt>URL</dt>
                        <dd></dd>
                     </dl>
                  </dd>
                  <dt>Language</dt>
                  <dd>
                     
                     
                  </dd>
                  <dt>Credit</dt>
                  <dd>
                     CREDIT
                     
                  </dd>
               </dl>
            </dd>
         </dl>
      </div>
      <div id="iso-spatial-reference-info">
         <dt>Spatial Reference Information</dt>
         <dd>
            <dl>
               <dt>Reference System Identifier</dt>
               <dd>
                  <dl>
                     <dt>Code</dt>
                     <dd>
                        9999
                        
                     </dd>
                     <dt>Code Space</dt>
                     <dd>
                        EPSG
                        
                     </dd>
                     <dt>Version</dt>
                     <dd></dd>
                  </dl>
               </dd>
            </dl>
         </dd>
      </div>
      <div id="iso-data-quality-info">
         <dt>Data Quality Information</dt>
         <dd>
            <dl></dl>
         </dd>
      </div>
      <div id="iso-distribution-info">
         <dt>Distribution Information</dt>
         <dd>
            <dl>
               <dt>Format Name</dt>
               <dd>
                  FORMAT
                  
               </dd>
               <dt>Distributor</dt>
               <dd>
                  DISTRIBUTOR
                  
               </dd>
               <dt>Online Access</dt>
               <dd>URL</dd>
               <dt>Protocol</dt>
               <dd>
                  http
                  
               </dd>
               <dt>Name</dt>
               <dd>
                  FILENAME
                  
               </dd>
               <dt>Function</dt>
               <dd>download</dd>
            </dl>
         </dd>
      </div>
      <div id="iso-spatial-representation-info">
         <dt>Spatial Representation Information</dt>
         <dd>
            <dl>
               <dt>Vector</dt>
               <dd>
                  <dl>
                     <dt>Topology Level</dt>
                     <dd></dd>
                     <dt>Vector Object Type</dt>
                     <dd></dd>
                     <dt>Vector Object Count</dt>
                     <dd>
                        49
                        
                     </dd>
                  </dl>
               </dd>
            </dl>
         </dd>
      </div>
      <div id="iso-metadata-reference-info">
         <dt>Metadata Reference Information</dt>
         <dd>
            <dl>
               <dt>Hierarchy Level</dt>
               <dd>
                  dataset
                  
               </dd>
               <dt>Metadata File Identifier</dt>
               <dd>
                  METADATAID
                  
               </dd>
               <dt>Dataset URI</dt>
               <dd>
                  URI
                  
               </dd>
               <dt>Metadata Date Stamp</dt>
               <dd>
                  2017-07-09T13:48:10
                  
               </dd>
               <dt>Metadata Standard Name</dt>
               <dd>
                  ISO 19139 Geographic Information - Metadata - Implementation Specification
                  
               </dd>
               <dt>Metadata Standard Version</dt>
               <dd>
                  2007
                  
               </dd>
            </dl>
         </dd>
      </div>
   </body>
</html>